body {
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;

}

.cuisine-option {
    background-color: #27ae60;
    color: white;
    border-radius: 15px;
    padding: 10px;
    min-width: 100px;
    margin: 10px;
    text-align: center;
}